extends layout

block content
    h2= "Add a new to do"
    form(action="/users/user/:todo" method="POST")
        label User
        input(type="text", name="name" id="name" value=read readonly)
        br 
        label Title
        input(type="text", name="title")
        br 
        label Text
        input(type="text", name="text")
        br
        label Deadline
        input(type="date", name="deadline" id="deadline")
        br
        label Start
        input(type="date", name="start" id="start")
        br 
        button(type="submit") GO
    p.wrong= wrong
    h2= "See the to dos"
    p= "You can here save your to do's. If you have writen it wrong can you make a new one, by deleteing it or write the title in the form"
    div#toDo
